html {
  min-height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header,
section {
  overflow-x: hidden;
}
.aside, 
.barranav{
  background-color: rgba(224, 221, 221, 0.5);
  border: transparent;
}
/* encabezado  ----HOVER---- */


#turnos:hover #post-s{
  width: 100%;
  opacity: 0.5;
}

#turnos, #emergencias, #internaciones{
  background-color: black;
  transition: all 0.5s ease-in-out;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  text-align: center;
  height: 20rem;
  background-repeat: no-repeat;
  background-size: cover;
}
 #internaciones{
  background-image: url(../src/assets/internaciones.jpg);
 }
#emergencias{
  background-image: url(../src/assets/emergencias.jpg);
}
#turnos{
  background-image: url(../src/assets/turnos.jpg);
}

#turnos a, #emergencias a, #internaciones a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
  font-size: 2rem;
 
}

#turnos:hover, #emergencias:hover, #internaciones:hover{
 opacity: .8;
  
}


@media only screen and (max-width: 800px) {
  #turnos{
    flex: 1 1 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #emergencias{
    flex: 1 1 auto;
    
    margin-bottom: 1rem;
   }
  #internaciones{
    flex: 1 1 auto;
   }
 }

/*---------------------*/
.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 0.8;
  width: 80%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

/* Section 3 */

.section-3 {
  height: 70vmin;
  margin-top: 15vmin;
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6vmin;
}

.section-3 .col-md-12 > p {
  padding: 0 4em;
  padding-bottom: 2em;
  color: var(--light-gray);
  font-size: 3vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}


/* Section 4 */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 14vmin;
}

.section-4 .team {
  padding: 10vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
}

.section-4 .card .card-text {
  padding: 0.5em;
}

.section-4 .card-body > a {
  font-size: 1.5em;
}

.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}



/* Gestion */
.row-nombre{
  background: rgba(224, 221, 221, 0.5);
}
.gestion-col{
  background: rgba(224, 221, 221, 0.5);
  padding: 3rem 3rem ;
  font-family: Arial, Helvetica, sans-serif;
}
.proyectos {
  margin-top: 10rem;
}

/* Barra Usuario*/
.nombre-usuario {
  color: var(--blanco);
  font-size: 1.5rem;
  margin: 0;
}
.nombre-usuario span {
  font-weight: 900;
}

@media (min-width: 768px) {
  .contenedor-app {
      display: flex;
      min-height: 100vh;
  }

  aside {
      background-color: var(--blanco);
      flex: 0 0 300px;
  }
  .seccion-principal {
      flex: 1;
  }

}

/*Listado de turnos*/


.estado button, 
.mensaje {
  font-weight: 900;
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none;
}



/*----------------------------------MAX / MIN RESOLUCIONES-------------------------------------------*/

@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}


/* Alerta */

.alerta-ok {
  background-color: rgb(109, 211, 109);
  color: rgb(2, 103, 2);
}
.alerta-error {
  background-color: rgb(230, 78, 78);
  color: var(--blanco);
}