@import '~antd/dist/antd.css';

.app-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    
  }
    
    .body-container {
    background-color: green;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
    }
      .header-container{
        background: rgb(2,17,24);
        min-height: 70px;
        flex:1;
        
      }
      .sidebar-container{
      background-color: white;
      flex:8;
      }
      .content-container{
      flex:1;
      background: rgb(2,17,24);
      color: white;
      }



/*------------------HOME PAGE-------------------*/

/* SECCIÓN 1 */
.homepage{
  display: flex;
  flex-direction: column;
}

.homepage-header-turnos, .homepage-header-emergencias, .homepage-header-internaciones{
  flex:1;
  display: flex;
  justify-content: center;
  height: 480px;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  text-align: center;
  min-width: 300px;
}
/*.homepage-header-turnos:hover, .homepage-header-emergencias:hover, .homepage-header-internaciones:hover{
  opacity: .85;
}*/

.carousel{
  display: flex;
  flex-direction: row;
}

.homepage-header-turnos{background-image: url(../src/assets/turnos.jpg);}

.homepage-emergencias-mascara,.homepage-turnos-mascara,.homepage-internaciones-mascara {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  flex:1;
  background-color: rgba(2,17,24, 0.35);
  justify-content: center;
  align-items: center;
}  
.homepage-turnos-contenido ,.homepage-emergencias-contenido,.homepage-internaciones-contenido {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  padding: 80px;
  height: 40px;
 }  
 .homepage-turnos-contenido p, .homepage-emergencias-contenido p, .homepage-internaciones-contenido p {
  border: 1px solid white ;
  border-radius: 40px;
  color: white;
  margin: 20px;
  padding: 10px 30px 10px 30px;
  background-color: rgba(2,17,24, 0.3);
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3s;
 }
 .homepage-turnos-contenido p:hover, .homepage-emergencias-contenido p:hover, .homepage-internaciones-contenido p:hover {
  background-color: rgba(2,17,24, 0.1);
 }
 .homepage-turnos-contenido h4,.homepage-emergencias-contenido h4,.homepage-internaciones-contenido h4{
  color: white;
  padding: 5px;
 }

.homepage-header-emergencias{
  background-image: url(../src/assets/emergencias.jpg);
}

.homepage-header-internaciones{
  background-image: url(../src/assets/internaciones1.jpg);
}
 
@media only screen and (max-width: 800px) {
  
  .homepage-header-turnos{
    margin-top: 1rem;
      }
  .homepage-header-emergencias{
    margin-top: 1rem;
    margin-bottom: 1rem;
   }
  .homepage-header-internaciones{
    margin-bottom: 1rem;
   }
}

/* SECCIÓN 2 */
.section-2 {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 460px;
}
.cantidad_clientes, .cantidad_turnos{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-----------------------------------------*/

/* SECCIÓN 3 */
.section-3{
  background:  rgb(2,17,24);
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  padding: 20px 0px 30px 0px; 
}
.section-3_header{
padding-bottom: 20px;
 
}
.section-3 .boton{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
 
}
.section-3 .boton .bot1, .bot2, .bot3, .bot4, .bot5{
  flex-direction: row;
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid white ;
  border-radius: 60px;
  width: 100px;
  height: 100px;
  transition: 0.3s ease-out;
}
.section-3 .bot1:hover, .bot2:hover, .bot3:hover, .bot4:hover, .bot5:hover{
 background-color: rgba(39, 90, 202, 0.2);
 font-size: 18px;
 transition: 0.3s ease-out;
 
}
.section-3 span{
  display: flex;
  flex-direction: column;
}




/*-----------------------------------------*/

/* SECCIÓN 4 */
.section-4{
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
.section-4-container{
  display: flex;
  flex-direction: row;
}
.team-1, .team-2,.team-3{
  display: flex;
flex: 1 ;
align-items: center;
justify-content: center;

margin: 2em;
flex-wrap: wrap;
} 

@media only screen and (max-width: 900px) {
  
  .section-4, .section-4-container{
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
   
  }
  .team-1 .card, .team-2 .card,.team-3 .card{
    width: 400px;
    height: 500px;
    align-items: center;
    justify-content: center;
    } 
    
}

@media only screen and (max-width: 450px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .card {
    width: 12em;
    margin-left: -4vmin;
  }
}

/*-----------------------------------------*/

/*NAVEGACIÓN*/

.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}
.navbar1{
  display: flex;
  margin: 10px;
  align-items: center;
  transition: ease-in 0.2s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.navbar1 img {
  width: 50px;
  margin: 5px;
  border-radius: 30px;
}
.navbar2 {
  display: flex;
  flex-direction: row;
  
}
.navbar2 ul{
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 10px;
} 
.navbar2 ul li{
  color: white;
  margin: 10px;
  font-size: large;
  transition: ease-in 0.2s;
  
}
  .navbar2-2, .navbar2-1 {
    align-items: center;
    display: flex;
    transition: ease-in 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .navbar2-2 .nav-item:hover, .navbar2-1 .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2) ;
    border-radius: 2px;
    cursor: pointer;
  }
/*--------------------------------------*/



/*GESTÍON USUARIO */

.gestionCliente{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.gestion-principal h2{
  padding-left: 10px;
}
/*GESTÍON ADMIN */
.gestionNombre{
  padding-left: 10px;
}

/*Turno en listado de turno*/
.turnoAdministracion-container{
  display: flex;
  flex-direction: column;
}
.turnoAdministracion-container__body{
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
}


/*BARRA GESTÍON USUARIO*/
.barra_usuario{
  align-items: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
 }

.barra_usuario_nombre, .barra_usuario_boton{
  margin: 10px;
}

          /*boton*/
          /*
.botonMenu{
  display: flex;
  justify-content: flex-end;
}
.botonMenu, .submenu{
  
  width: 108px;
  box-sizing: border-box;
  padding-right: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.botonMenu label{
  cursor: pointer;
  font-size: 30px;
  
}
.botonMenu ul{
  
  padding: 0;
  display: flex;
  list-style: none;
  background-color: rgb(2,17,24);
}
#btn-menu{
  display: none;
}
.botonMenu label{ 
  display: none;
  background: rgb(2,17,24);
 }
.botonMenu ul ul{ 
 display: none;
}
.botonMenu li:hover{ 
  background: rgba(156, 154, 154, 0.3);
  transition: all 0.5s ease-in-out;
 }
.botonMenu ul li:hover ul{ 
  display: block;
  position: absolute;
   transition: all 0.5s ease-in-out;
}*/
@media (max-width: 800px) {
  
  
  .botonMenu label{ 
    display: block;
    
  }
}
/*--------------------------------------*/
/*------------------LOGIN PAGE-------------------*/

/*INGRESO USUARIO*/
.ingreso_cliente, .registro_cliente{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.ingreso_cliente .card, .registro_cliente .card{
 
 width: 30%;
}

/*MODAL*/
.modal-Container {
  position: absolute;
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-container__body {
 display: flex;
 flex-direction: row  ;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100%;
 background-color: rgba(218, 214, 214, 0.7);
}
.nuevoturno-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  background-color: white;
  border-radius: 5px;
  z-index: 6;
}
.nuevoturno-container__header{
  z-index: 5;
  background-color: gray;
  padding-top:  10px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.nuevoturno-container__body{
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  font-weight: bold;
}
.nuevoturno-container__footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding-top: 10px;
}
.nuevoturno-container__footer button{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 2px;
  border-radius: 5px;
}

/*--------------------------------------*/
.tabla{
  
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  padding: 20px;
}
.listado-turnos__Footer{
  display: flex;
}
.listado-turnos__Footer i{
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
}



/*BOTON SERVICIOS*/

.botonMenu{
  padding-right: 10px;
}
.botonMenu .ant-btn {
  
  width: 120px;
  /*margin-bottom: 8px;*/
 
  font-weight: bold;
  border: 1px solid grey;
}





